*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/*+++++++++++++++++++++++++++++++++++++++++
NAV-NAV-NAV-NAV-NAV-NAV-NAV-NAV-NAV-NAV-NAV
+++++++++++++++++++++++++++++++++++++++++*/

header{
    background-color: #F8F9FA;
    height: 100px;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    
}
.riga_header{
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
}

.logo_grande{
    width: 100%;
}
.logo_piccolo{
    height: 50%;
}


.ricerca{  /* barra di ricerca */
    background-color: #E5E5E5;
    border: none;
    border-radius: 2px;
    width: 100%;
}

.icons_header{   /* icone in alto a destra nell'header*/
    gap: 10px;
}



/*++++++++++++++++++++++++++++++++++++++++++
MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN
++++++++++++++++++++++++++++++++++++++++++*/

main{
    margin-top: 100px;
    width: 100%;
    display: flex;
    background-color: #F8F9FA;
}





/*++++++++++++++++++++++++++++++++++++++++++++++
SIDEBAR-SIDEBAR-SIDEBAR-SIDEBAR-SIDEBAR-SIDEBAR
++++++++++++++++++++++++++++++++++++++++++++++*/

.sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(14, 14, 45);
    height: calc(100vh - 100px);
}

.text_white{
    color: white;
}

.top_sidebar, .bottom_sidebar{
    width: 100%;
}




/*+++++++++++++++++++++++++++++++++++++++++++++
CONTENT-CONTENT-CONTENT-CONTENT-CONTENT-CONTENT
+++++++++++++++++++++++++++++++++++++++++++++*/


.content{
    width: 100%;
    height: calc(100vh - 100px); 
    overflow-y: auto;
}




/*++++++++++++++++++++++++++++++++++++++++++++++
BARRA-BARRA-BARRA-BARRA-BARRA-BARRA-BARRA-BARRA-
++++++++++++++++++++++++++++++++++++++++++++++*/

.barra{
    background-color: #1B72E8;
    width: 100%;
}

li{
    list-style: none;
}

.font_title{
    font-size: 20px;
}

.font_subtitle{
    font-size: 11px;
    
}

.radius{
    background-color: rgba(46, 42, 42, 0.433);
    border-radius: 10px;
    padding: 3px 5px;
}

.text_strong{
    font-weight: 800;
}




/*++++++++++++++++++++++++++++++++++++++++++++++
TABELLA-TABELLA-TABELLA-TABELLA-TABELLA-TABELLA-
++++++++++++++++++++++++++++++++++++++++++++++*/


.avatar_img{
    width: 20px
}

.classe{  /* modifico le classi x dopo l'immagine*/
    font-size: 13px;
    font-weight: 200;
}

.riquadro{    /* riquadro alle 2 icone azioni*/
    border: 1px solid grey;
    padding: 3px;
    border-radius: 3px;
}

.testo_head{    /* modifico il testo di tabella head*/
    font-size: 12px;
}

.testo_nero{   /* modifico il testo del titolo*/
    font-size: 18px;
    font-weight: 600;

}

.testo_color_grey{
    color: grey;
}

.riquadro_done_green{
    color: white;
    background-color: green;
    border-radius: 5px;
}
.riquadro_done_yellow{
    color: white;
    background-color: rgb(192, 150, 14);
    border-radius: 5px;
}
.riquadro_done_red{
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}



.text_align_center{
    text-align: center;
}

.width_100{
    width: 100%;
}

