*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/*+++++++++++++++++++++++++++++++++++++++++
NAV-NAV-NAV-NAV-NAV-NAV-NAV-NAV-NAV-NAV-NAV
+++++++++++++++++++++++++++++++++++++++++*/

header{
    background-color: #F8F9FA;
    height: 100px;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    
}
.riga_header{
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
}

.logo_grande{
    width: 100%;
}
.logo_piccolo{
    height: 50%;
}


.ricerca{  /* barra di ricerca */
    background-color: #E5E5E5;
    border: none;
    border-radius: 2px;
    width: 100%;
}

.icons_header{   /* icone in alto a destra nell'header*/
    gap: 10px;
}



/*++++++++++++++++++++++++++++++++++++++++++
MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN-MAIN
++++++++++++++++++++++++++++++++++++++++++*/

main{
    margin-top: 100px;
    width: 100%;
    display: flex;
}





/*++++++++++++++++++++++++++++++++++++++++++++++
SIDEBAR-SIDEBAR-SIDEBAR-SIDEBAR-SIDEBAR-SIDEBAR
++++++++++++++++++++++++++++++++++++++++++++++*/

.sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(14, 14, 45);
    height: calc(100vh - 100px);
}

.text_white{
    color: white;
}

.top_sidebar, .bottom_sidebar{
    width: 100%;
}




/*+++++++++++++++++++++++++++++++++++++++++++++
CONTENT-CONTENT-CONTENT-CONTENT-CONTENT-CONTENT
+++++++++++++++++++++++++++++++++++++++++++++*/


.content{
    background-color: rgb(85, 61, 32);
    width: 100%;
    height: calc(100vh - 100px); 
    overflow-y: auto;
}




/*++++++++++++++++++++++++++++++++++++++++++++++
BARRA-BARRA-BARRA-BARRA-BARRA-BARRA-BARRA-BARRA-
++++++++++++++++++++++++++++++++++++++++++++++*/

.barra{
    background-color: #1B72E8;
    width: 100%;
}

li{
    list-style: none;
}

.font_title{
    font-size: 20px;
}

.font_subtitle{
    font-size: 11px;
    
}

.radius{
    background-color: rgba(46, 42, 42, 0.433);
    border-radius: 10px;
    padding: 3px 5px;
}

.text_strong{
    font-weight: 800;
}